## Categorical Data Cleaning and Preprocessing

In this notebook the file with the training data is read in and the data is cleaned and tranformed depending on what kind of data it is. First I deal with the nominal category data. A lot of the categories can be made binary.  For example, in the zoning category there are 1598 houses that are considered "Residential Low Density" (RL) and the remaining 453 houses are broken into six other categories.  Instead of making a lot of dummy variable columns for zoning, I made the category binary.  1 if RL, and 0 if other.  The majority of the nominal categeories can be transformed this way.

The ordinal categories I transformed to a numerical scale. For example, the exterior quality column is represented as excellent (Ex), good (Gd), average/typical (TA), fair (Fa), or poor (po).  I made this column into 4, 3, 2, 1, and 0.

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = './datasets/train.csv'

pd.set_option('display.max_columns', None)
df = pd.read_csv(train)


# grab the numeric columns
num_df = df.select_dtypes(exclude=['object'])

# grab the categorical columns
cat_df = df.select_dtypes(include=['object'])

from sklearn.impute import SimpleImputer

In [3]:
#make all column names lower case and connect with an underscore
cat_df.columns = [x.lower().replace(' ', '_') for x in cat_df.columns]

In [4]:
#RL is an overwhelming representative of this column, and it is probably
#unneccessary to make dummy columns for all of these categories

cat_df.ms_zoning.value_counts(dropna=False)

RL         1598
RM          316
FV          101
C (all)      19
RH           14
A (agr)       2
I (all)       1
Name: ms_zoning, dtype: int64

In [5]:
#make cat_df a copy to avoid a SettingWithCopyWarning
cat_df = cat_df.copy()

#make the column binary.  1 for RL and 0 for all others
cat_df.ms_zoning = cat_df.ms_zoning.map(lambda p: 1 if p in ['RL'] else 0)

In [6]:
cat_df.ms_zoning.value_counts(dropna=False)

1    1598
0     453
Name: ms_zoning, dtype: int64

In [7]:
#repeat the above process for all of the applicable nominal category columns

cat_df.street = cat_df.street.map(lambda p: 1 if p in ['Pave'] else 0)

cat_df.alley = cat_df.alley.map(lambda p: 1 if p in ['Grvl', 'Pave'] else 0)

cat_df.lot_shape = cat_df.lot_shape.map(lambda p: 1 if p in ['Reg'] else 0)

cat_df.land_contour = cat_df.land_contour.map(lambda p: 1 if p in ['Lvl'] else 0)

cat_df.utilities = cat_df.utilities.map(lambda p: 1 if p in ['AllPub'] else 0)

cat_df.lot_config = cat_df.lot_config.map(lambda p: 1 if p in ['Inside'] else 0)

cat_df.land_slope = cat_df.land_slope.map(lambda p: 1 if p in ['Gtl'] else 0)

cat_df.condition_1 = cat_df.condition_1.map(lambda p: 1 if p in ['Norm'] else 0)

cat_df.condition_2 = cat_df.condition_2.map(lambda p: 1 if p in ['Norm'] else 0)

cat_df.house_style = cat_df.house_style.map(lambda p: 1 if p in ['1Story'] else 0)

cat_df.bldg_type = cat_df.bldg_type.map(lambda p: 1 if p in ['1Fam'] else 0)

cat_df.roof_style = cat_df.roof_style.map(lambda p: 1 if p in ['Gable'] else 0)

cat_df.roof_matl = cat_df.roof_matl.map(lambda p: 1 if p in ['CompShg'] else 0)

cat_df.mas_vnr_type = cat_df.mas_vnr_type.map(lambda p: 1 if p in ['BrkFace',
                                                                   'Stone',
                                                                   'BrkCmn'] else 0)

cat_df.heating = cat_df.heating.map(lambda p: 1 if p in ['GasA'] else 0)

cat_df.central_air = cat_df.central_air.map(lambda p: 1 if p == 'Y' else 0)

cat_df.garage_type = cat_df.garage_type.map(lambda p: 1 if p in ['Attchd'] else 0)

cat_df.electrical = cat_df.electrical.map(lambda p: 1 if p in ['SBrkr'] else 0)

cat_df.functional = cat_df.functional.map(lambda p: 1 if p in ['Typ'] else 0)

cat_df.garage_finish = cat_df.garage_finish.map(lambda p: 1 if p in ['RFn', 'Fin'] else 0)

cat_df.paved_drive = cat_df.paved_drive.map(lambda p: 1 if p == 'Y' else 0)

cat_df.fence = cat_df.fence.map(lambda p: 1 if p in ['MnPrv',
                                                     'GdPrv',
                                                     'GdWo',
                                                     'MnWw'] else 0)

cat_df.sale_type = cat_df.sale_type.map(lambda p: 1 if p in ['WD '] else 0)

cat_df.misc_feature = cat_df.misc_feature.map(lambda p: 1 if p in ['Shed',
                                                                   'Gar2',
                                                                   'Othr',
                                                                   'TenC',
                                                                   'Elev'] else 0)

## A Note on Missing Values

I noticed that for the most part in this dataset the Nan values were coming mostly in the basement and garage categories and that wasn't because the information was missing but because the house does not have a basement or a garage.  So, in the lines where you see I am filling the missing values with a zero, that is the reason.

In [8]:
#here is where I start tranforming the ordinal categorical variables

cat_df.exter_qual.value_counts(dropna=False)

TA    1247
Gd     697
Ex      81
Fa      26
Name: exter_qual, dtype: int64

In [9]:
#use a dictionary to replace string ratings with a rating of 0-4
replace_map = {'exter_qual': {'Ex': 4,
                              'Gd': 3,
                              'TA': 2,
                              'Fa': 1,
                              'Po': 0}
              }
cat_df.replace(replace_map, inplace=True)

In [10]:
cat_df.exter_qual.value_counts(dropna=False)

2    1247
3     697
4      81
1      26
Name: exter_qual, dtype: int64

In [11]:
#repeat this process with all other applicable ordinal categories

replace_map = {'exter_cond': {'Ex': 4,
                              'Gd': 3,
                              'TA': 2,
                              'Fa': 1,
                              'Po': 0}
              }

cat_df.replace(replace_map, inplace=True)

replace_map = {'bsmt_qual': {'Ex': 5,
                              'Gd': 4,
                              'TA': 3,
                              'Fa': 2,
                              'Po': 1}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['bsmt_qual'].fillna(0, inplace=True)

replace_map = {'bsmt_cond': {'Ex': 5,
                              'Gd': 4,
                              'TA': 3,
                              'Fa': 2,
                              'Po': 1,}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['bsmt_cond'].fillna(0, inplace=True)

replace_map = {'bsmt_exposure': {'Gd': 4,
                                 'Av': 3,
                                 'Mn': 2,
                                 'No': 1}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['bsmt_exposure'].fillna(0, inplace=True)

replace_map = {'bsmtfin_type_1': {'GLQ': 6,
                                  'ALQ': 5,
                                  'BLQ': 4,
                                  'Rec': 3,
                                  'LwQ': 2,
                                  'Unf': 1}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['bsmtfin_type_1'].fillna(0, inplace=True)

replace_map = {'bsmtfin_type_2': {'GLQ': 6,
                                  'ALQ': 5,
                                  'BLQ': 4,
                                  'Rec': 3,
                                  'LwQ': 2,
                                  'Unf': 1}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['bsmtfin_type_2'].fillna(0, inplace=True)

replace_map = {'heating_qc': {'Ex': 4,
                              'Gd': 3,
                              'TA': 2,
                              'Fa': 1,
                              'Po': 0,}
              }

cat_df.replace(replace_map, inplace=True)

replace_map = {'kitchen_qual': {'Ex': 4,
                              'Gd': 3,
                              'TA': 2,
                              'Fa': 1,
                              'Po': 0,}
              }

cat_df.replace(replace_map, inplace=True)

replace_map = {'fireplace_qu': {'Ex': 5,
                              'Gd': 4,
                              'TA': 3,
                              'Fa': 2,
                              'Po': 1,}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['fireplace_qu'].fillna(0, inplace=True)

replace_map = {'garage_qual': {'Ex': 5,
                              'Gd': 4,
                              'TA': 3,
                              'Fa': 2,
                              'Po': 1,}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['garage_qual'].fillna(0, inplace=True)

replace_map = {'garage_cond': {'Ex': 5,
                              'Gd': 4,
                              'TA': 3,
                              'Fa': 2,
                              'Po': 1,}
              }

cat_df.replace(replace_map, inplace=True)
cat_df['garage_cond'].fillna(0, inplace=True)

replace_map = {'pool_qc': {'Ex': 4,
                          'Gd': 3,
                          'TA': 2,
                          'Fa':1}
              }
cat_df.replace(replace_map, inplace=True)
cat_df['pool_qc'].fillna(0, inplace=True)

## Dummy variables

The two categories that I could not make binary, I turned into dummy columns.  There were still categories that I could consolidate as "other" and I decided to drop those columns as opposed to letting the pd.get_dummies function randomly choose which dummy columns to drop.

In [12]:
#dummy columns for foundation

cat_df.foundation = cat_df.foundation.map(lambda p: 'Other' if p not in ['PConc',
                                                                         'CBlock'] else p)

cat_df = pd.get_dummies(cat_df, columns=['foundation'],
                        prefix=['foundation'],
                        drop_first=False)

cat_df.drop(columns='foundation_Other', axis=1, inplace=True)

In [13]:
#creating dummy columns for the neighborhoods

d_cols = ['NAmes', 'CollgCr', 'OldTown',
          'Edwards', 'Somerst', 'NridgHt',
          'Gilbert', 'Sawyer', 'SawyerW', 'NWAmes']

cat_df.neighborhood = cat_df.neighborhood.map(lambda x: 'Other' if x not in d_cols else x)

cat_df = pd.get_dummies(cat_df, columns=['neighborhood'], drop_first=False)

cat_df.drop(columns='neighborhood_Other', axis=1, inplace=True)

In [14]:
cat_df.head()

,ms_zoning,street,alley,lot_shape,land_contour,utilities,lot_config,land_slope,condition_1,condition_2,bldg_type,house_style,roof_style,roof_matl,exterior_1st,exterior_2nd,mas_vnr_type,exter_qual,exter_cond,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_type_2,heating,heating_qc,central_air,electrical,kitchen_qual,functional,fireplace_qu,garage_type,garage_finish,garage_qual,garage_cond,paved_drive,pool_qc,fence,misc_feature,sale_type,foundation_CBlock,foundation_PConc,neighborhood_CollgCr,neighborhood_Edwards,neighborhood_Gilbert,neighborhood_NAmes,neighborhood_NWAmes,neighborhood_NridgHt,neighborhood_OldTown,neighborhood_Sawyer,neighborhood_SawyerW,neighborhood_Somerst
0,1,1,0,0,1,1,0,1,0,1,1,0,1,1,HdBoard,Plywood,1,3,2,3.0,3.0,1.0,6.0,1.0,1,4,1,1,3,1,0.0,1,1,3.0,3.0,1,0.0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0
1,1,1,0,0,1,1,0,1,1,1,1,0,1,1,VinylSd,VinylSd,1,3,2,4.0,3.0,1.0,6.0,1.0,1,4,1,1,3,1,3.0,1,1,3.0,3.0,1,0.0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0
2,1,1,0,1,1,1,1,1,1,1,1,1,1,1,VinylSd,VinylSd,0,2,3,3.0,3.0,1.0,6.0,1.0,1,2,1,1,3,1,0.0,0,0,3.0,3.0,1,0.0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0
3,1,1,0,1,1,1,1,1,1,1,1,0,1,1,VinylSd,VinylSd,0,2,2,4.0,3.0,1.0,1.0,1.0,1,3,1,1,2,1,0.0,0,1,3.0,3.0,1,0.0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,1,1,1,1,1,1,1,0,1,1,Wd Sdng,Plywood,0,2,2,2.0,4.0,1.0,1.0,1.0,1,2,1,1,2,1,0.0,0,0,3.0,3.0,0,0.0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0

In [15]:
#save the categorical columns to a file

cat_df.to_csv('./datasets/categories_df.csv')

In [16]:
#replacing missing values with zeros that represent the fact that the house
#does not have a basement, garage, or masonry veneer

num_df = num_df.copy()

num_df.columns = [x.lower().replace(' ', '_') for x in num_df.columns]


#interpolate to estimate missing value based on similar characteristics
#of other observations in the data set
num_df['lot_frontage'].interpolate(inplace=True)

num_df['mas_vnr_area'].fillna(0, inplace=True)

num_df['bsmtfin_sf_1'].fillna(0, inplace=True)

num_df['bsmtfin_sf_2'].fillna(0, inplace=True)

num_df['bsmt_unf_sf'].fillna(0, inplace=True)

num_df['total_bsmt_sf'].fillna(0, inplace=True)

num_df['bsmt_full_bath'].fillna(0, inplace=True)
num_df['bsmt_half_bath'].fillna(0, inplace=True)

num_df['garage_yr_blt'].fillna(0, inplace=True)


num_df['garage_cars'].fillna(0, inplace=True)
num_df['garage_area'].fillna(0, inplace=True)



num_df.drop(columns='ms_subclass', axis=1, inplace=True)

num_df.rename(columns={'year_remod/add': 'year_remod'}, inplace=True)

num_df.rename(columns={'year_remod/add': 'year_remod'}, inplace=True)

num_df.year_built = num_df.year_built.map(lambda p: 1 if p > 1974 else 0)

num_df.year_remod = num_df.year_remod.map(lambda p: 1 if p > 1993 else 0)




num_df.rename(columns={'year_built': 'built_after_1974',
                       'year_remod': 'remod_after_1993',
                       'yr_sold': 'sold_after_2008',
                       'garage_yr_blt': 'garage_after_1978'}, inplace=True)

num_df.garage_after_1978 = num_df.garage_after_1978.map(lambda p: 1 if p > 1978 else 0)
num_df.sold_after_2008 = num_df.sold_after_2008.map(lambda p: 1 if p > 2008 else 0)
num_df.set_value(0, 'lot_frontage', 68.0).head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:54: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,id,pid,lot_frontage,lot_area,overall_qual,overall_cond,built_after_1974,remod_after_1993,mas_vnr_area,bsmtfin_sf_1,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,1st_flr_sf,2nd_flr_sf,low_qual_fin_sf,gr_liv_area,bsmt_full_bath,bsmt_half_bath,full_bath,half_bath,bedroom_abvgr,kitchen_abvgr,totrms_abvgrd,fireplaces,garage_after_1978,garage_cars,garage_area,wood_deck_sf,open_porch_sf,enclosed_porch,3ssn_porch,screen_porch,pool_area,misc_val,mo_sold,sold_after_2008,saleprice
0,109,533352170,68.0,13517,6,8,1,1,289.0,533.0,0.0,192.0,725.0,725,754,0,1479,0.0,0.0,2,1,3,1,6,0,0,2.0,475.0,0,44,0,0,0,0,0,3,1,130500
1,544,531379050,43.0,11492,7,5,1,1,132.0,637.0,0.0,276.0,913.0,913,1209,0,2122,1.0,0.0,2,1,4,1,8,1,1,2.0,559.0,0,74,0,0,0,0,0,4,1,220000
2,153,535304180,68.0,7922,5,7,0,1,0.0,731.0,0.0,326.0,1057.0,1057,0,0,1057,1.0,0.0,1,0,3,1,5,0,0,1.0,246.0,0,52,0,0,0,0,0,1,1,109000
3,318,916386060,73.0,9802,5,5,1,1,0.0,0.0,0.0,384.0,384.0,744,700,0,1444,0.0,0.0,2,1,3,1,7,0,1,2.0,400.0,100,0,0,0,0,0,0,4,1,174000
4,255,906425045,82.0,14235,6,8,0,0,0.0,0.0,0.0,676.0,676.0,831,614,0,1445,0.0,0.0,2,0,3,1,6,0,0,2.0,484.0,0,59,0,0,0,0,0,3,1,138500

In [17]:
#save the numerical columns to a file

num_df.to_csv('./datasets/num_df.csv')